@import '../../styles/variables.scss';

.root {
	position: relative;
	width: 100%;
	margin-top: $GLOBAL-MARGIN;
}

.wrapper {
	margin: 0;
	padding: 0 $GLOBAL-MARGIN;
	text-align: center;
	// max-width: 1366px;

	@include md {
		text-align: left;
  	}	

	@include lg {
		width: 80%;
		margin: 0 auto;
		font-size: 18px;
		padding: 0px;
	}

}
